.input-block{
    margin: 30px;
    position: absolute;

    display: flex;
    input{
        outline: none;
        background: inherit;
        border: 0;
        border-bottom: 1px solid rgba(0, 0, 0, .3);
        transition: all ease 0.2s;

        &:focus{
            border-bottom: 2px solid black;
        }
     
    }
}